.Title {
    text-align: center;
    color: purple;
    margin-top: 50px;
}



.imgLeft {
    width: 35%;
    margin-left: 10%;
    margin-top: 50px;
}

.imgRight {
    width: 35%;
    margin-left: 10%;
    margin-top: 50px;
}

